[Unit]
Description=Flathub backend
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStartPre=/bin/rm -f %t/container-backend.pid %t/container-backend.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/container-backend.pid --cidfile %t/container-backend.ctr-id --cgroups=no-conmon -d --replace --init --rm -it -p 127.0.0.1:8000:8000 --env-file /etc/flathub-backend.conf --name backend ghcr.io/flathub/backend:{{ backend_version }}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-backend.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-backend.ctr-id
PIDFile=%t/container-backend.pid
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target
