ROOT_PATH=/api/v2
HOME=/root
OSTREE_REPO=/root/.local/share/flatpak/repo
REDIS_HOST=10.8.1.1
REDIS_PORT=6380
SENTRY_DSN={{ backend_v2_sentry_dsn }}
DATABASE_URL={{ backend_v2_database_url }}
CORS_ORIGINS=http://localhost:3000 https://flathub.org https://beta.flathub.org
SESSION_SECRET_KEY={{ backend_v2_session_secret_key }}
GITHUB_CLIENT_ID={{ backend_v2_github_client_id }}
GITHUB_CLIENT_SECRET={{ backend_v2_github_client_secret }}
GITHUB_RETURN_URL=https://beta.flathub.org/login/github
ENABLE_LOGIN_SUPPORT=true
