server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ backend_domain }};

    include /etc/nginx/default.d/ssl.conf;
    ssl_certificate /var/lib/dehydrated/certs/{{ backend_domain }}/fullchain.pem;
    ssl_certificate_key /var/lib/dehydrated/certs/{{ backend_domain }}/privkey.pem;
    ssl_trusted_certificate /var/lib/dehydrated/certs/{{ backend_domain }}/chain.pem;

    location / {
        proxy_pass http://localhost:8000;
    }

    location = /v1/apps/update {
	allow 46.235.224.97;
        deny all;

        proxy_pass http://localhost:8000;
    }
}
