{{ stats_cache_logs_dir }}/access.log {
    daily
    nodateext
    rotate 4
    compress
    missingok
    sharedscripts
    postrotate
        killall -HUP rsyslogd
        /var/lib/stats/venv/bin/python {{ stats_checkout_dir }}/update-stats.py \
            --dest {{ stats_output_dir }} \
            --ref-cache {{ stats_cache_dir }}/ref-cache.json \
            {{ stats_cache_logs_dir }}/access.log.1 \
            >> /var/log/flathub-stats.log 2>&1
        rsync -rzz --delete {{ stats_output_dir }}/stats/ stats@master.flathub.org:stable/
        zstd -T0 -13 --stdout {{ stats_cache_logs_dir }}/access.log.1 | /usr/local/bin/mc pipe s3/flathub-cdn-logs/stable/$(date --date="yesterday" +"%Y-%m-%d").log.zst
        curl -X POST https://flathub.org/api/v2/update/stats || true
    endscript
}

{{ stats_cache_logs_dir }}/beta.log {
    daily
    nodateext
    rotate 4
    compress
    missingok
    sharedscripts
    postrotate
        killall -HUP rsyslogd
        sed -i 's/^ beta//g' {{ stats_cache_logs_dir }}/beta.log.1
        /var/lib/stats/venv/bin/python {{ stats_checkout_dir }}/update-stats.py \
            --dest {{ stats_output_dir }}/beta \
            --ref-cache {{ stats_cache_dir }}/ref-cache-beta.json \
            {{ stats_cache_logs_dir }}/beta.log.1 \
            >> /var/log/flathub-stats-beta.log 2>&1
        rsync -rzz --delete {{ stats_output_dir }}/beta/ stats@master.flathub.org:beta/
        zstd -T0 -13 --stdout {{ stats_cache_logs_dir }}/beta.log.1 | /usr/local/bin/mc pipe s3/flathub-cdn-logs/beta/$(date --date="yesterday" +"%Y-%m-%d").log.zst
    endscript
}

{{ stats_cache_logs_dir }}/debug.log {
    daily
    nodateext
    rotate 4
    compress
    missingok
    sharedscripts
    postrotate
        killall -HUP rsyslogd
    endscript
}

/var/log/flathub-stats.log {
    missingok
    notifempty
    size 1M
    rotate 5
}
