server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name {{ stats_domain }};

    # Load common SSL options
    include /etc/nginx/default.d/ssl.conf;

    # certs sent to the client in SERVER HELLO are concatenated in ssl_certificate
    ssl_certificate {{ dehydrated_basedir }}/certs/{{ stats_domain }}/fullchain.pem;
    ssl_certificate_key {{ dehydrated_basedir }}/certs/{{ stats_domain }}/privkey.pem;

    ## verify chain of trust of OCSP response using Root CA and Intermediate certs
    ssl_trusted_certificate {{ dehydrated_basedir }}/certs/{{ stats_domain }}/chain.pem;

    # JSON summary files
    location /stats {
        alias {{ stats_output_dir }};
        autoindex on;
    }

    # Reserve / in case we ever want to host
    # https://gitlab.com/ahayzen/flathub-api-stats-generator. Currently
    # available at https://ahayzen.com/direct/flathub.html.
    location / {
        deny all;
    }
}
