[submodule "roles/zerotier"]
	path = roles/zerotier
	url = https://github.com/flathub/ansible-role-zerotier
[submodule "roles/postgres"]
	path = roles/postgres
	url = https://github.com/geerlingguy/ansible-role-postgresql
