[Unit]
Description=GPG agent

[Service]
User={{ gpg_agent_user }}
Group={{ gpg_agent_user }}
ExecStart=/usr/bin/gpg-agent --daemon
Environment=GNUPGHOME={{ gpg_agent_dir }}/agent
Type=forking

[Install]
WantedBy=multi-user.target
