[Unit]
Description=Blackbox exporter
After=network-online.target

[Service]
Type=simple
User=blackbox_exporter
Group=blackbox_exporter
ExecStart=/usr/local/bin/blackbox_exporter \
  --config.file=/etc/blackbox_exporter.yml \
  --web.listen-address=127.0.0.1:9115
ExecReload=/bin/kill -HUP $MAINPID

KillMode=process
Restart=always
RestartSec=5

NoNewPrivileges=true
ProtectHome=true
ProtectSystem=full
ProtectHostname=true
LockPersonality=true

[Install]
WantedBy=multi-user.target
