server {
    listen 80;
    listen [::]:80;

    server_name dl.{{ frontend_nginx_webroot_domain }};

    # Load configuration files for the default server block.
    include /etc/nginx/default.d/repo.conf;

    location /.well-known/acme-challenge {
      proxy_pass http://{{ frontend_nginx_webroot_origin }}/.well-known/acme-challenge;
    }
    
    # Everything else to https://{{ frontend_nginx_webroot_domain }} for the time being
    location / {
      return 302 https://{{ frontend_nginx_webroot_domain }}$request_uri;
    }
}

{% if frontend_nginx_enable_ssl %}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name dl.{{ frontend_nginx_webroot_domain }};

    # Load configuration files for the default server block.
    include /etc/nginx/default.d/repo.conf;
    include /etc/nginx/default.d/ssl.conf;

    location /.well-known/acme-challenge {
      proxy_pass http://{{ frontend_nginx_webroot_origin }}/.well-known/acme-challenge;
    }

    # Everything else to https://{{ frontend_nginx_webroot_domain }} for the time being
    location / {
      return 302 https://{{ frontend_nginx_webroot_domain }}$request_uri;
    }

    ssl_certificate /var/lib/certsync/certs/dl.{{ frontend_nginx_webroot_domain }}/fullchain.pem;
    ssl_certificate_key /var/lib/certsync/certs/dl.{{ frontend_nginx_webroot_domain }}/privkey.pem;
    ssl_trusted_certificate /var/lib/certsync/certs/dl.{{ frontend_nginx_webroot_domain }}/chain.pem;
}
{% endif %}
