server {
    listen 80;
    listen [::]:80;

    server_name {{ frontend_nginx_flatpak_domain }} www.{{ frontend_nginx_flatpak_domain }};

    location /.well-known/acme-challenge {
      proxy_pass http://{{ frontend_nginx_flatpak_origin }}/.well-known/acme-challenge;
    }

    location / {
      return 301 https://$host$request_uri;
    }
}

{% if frontend_nginx_enable_ssl %}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name {{ frontend_nginx_flatpak_domain }} www.{{ frontend_nginx_flatpak_domain }};

    include /etc/nginx/default.d/ssl.conf;
    ssl_certificate /var/lib/certsync/certs/{{ frontend_nginx_flatpak_domain }}/fullchain.pem;
    ssl_certificate_key /var/lib/certsync/certs/{{ frontend_nginx_flatpak_domain }}/privkey.pem;
    ssl_trusted_certificate /var/lib/certsync/certs/{{ frontend_nginx_flatpak_domain }}/chain.pem;

    location / {
      proxy_cache webapps;
      proxy_cache_valid 200 302 10m;
      proxy_set_header Host $host;
      proxy_pass https://{{ frontend_nginx_flatpak_origin }};
    }
}
{% endif %}
