location /api/ {
    proxy_cache webapps;
    proxy_cache_valid 200 302 10m;
    proxy_cache_valid 301      1h;
    proxy_pass {{ frontend_flathub_backend }}/;
}

location /api/v1/apps/collection/new/feed {
    proxy_pass {{ frontend_flathub_backend }}/v1/feed/new;
}

location /api/v1/apps/collection/recently-updated/feed {
    proxy_pass {{ frontend_flathub_backend }}/v1/feed/recently-updated;
}
