location /repo {
    gzip off;
    proxy_cache repo;
    proxy_cache_key {{ frontend_nginx_repo_origin_server }}$uri;
    proxy_cache_valid 200 304 30d;
    proxy_cache_lock on;
    proxy_pass {{ frontend_nginx_repo_origin }};
}

location /repo/assets {
    add_header Access-Control-Allow-Origin *;

    proxy_cache repo;
    proxy_cache_key https://hub.flathub.org$uri;
    proxy_cache_valid 200 304 30d;
    proxy_cache_lock on;
    proxy_pass https://hub.flathub.org/repo/assets;
}

location ~ ^/repo/objects/.+\.(sig|sizes2)$ {
    return 404;
}

{% for file in ['summary', 'summary.sig', 'summary.idx', 'summary.idx.sig'] %}
location /repo/{{ file }} {
    gzip on;
    gzip_types application/octet-stream;
    proxy_cache repo;
    proxy_cache_key {{ frontend_nginx_repo_origin_server }}$uri;
    proxy_pass {{ frontend_nginx_repo_origin }}/{{ file }};
}

{% endfor %}
location /beta-repo {
    gzip off;
    proxy_cache repo;
    proxy_cache_key {{ frontend_nginx_beta_repo_origin_server }}$uri;
    proxy_cache_valid 200 304 30d;
    proxy_cache_lock on;
    proxy_pass {{ frontend_nginx_beta_repo_origin }};
}

location ~ ^/beta-repo/objects/.+\.(sig|sizes2)$ {
    return 404;
}

{% for file in ['summary', 'summary.sig', 'summary.idx', 'summary.idx.sig'] %}
location /beta-repo/{{ file }} {
    gzip on;
    gzip_types application/octet-stream;
    proxy_cache repo;
    proxy_cache_key {{ frontend_nginx_beta_repo_origin_server }}$uri;
    proxy_pass {{ frontend_nginx_beta_repo_origin }}/{{ file }};
}

{% endfor %}
location /build-repo {
    gzip off;
    proxy_cache repo;
    proxy_cache_key {{ frontend_nginx_build_repo_origin }}$uri;
    proxy_cache_valid 200 304 5d;
    proxy_cache_lock on;
    proxy_pass {{ frontend_nginx_build_repo_origin }};
}
