location / {
    proxy_set_header Host $host;
    proxy_set_header X-Prerender-Token {{ frontend_prerender_token }};

    if ($prerender = 1) {
        set $prerender "service.prerender.io";
        proxy_pass http://$prerender/$scheme://$host$request_uri?;
    }

    if ($prerender = 0) {
        proxy_pass https://{{ frontend_nginx_webroot_origin }};
        expires 30d;
        add_header Cache-Control "public, no-transform";
    }
}
