[Unit]
Description=BuildBot master
After=network.target

[Service]
DynamicUser=yes
StateDirectory=buildbot-master
WorkingDirectory={{ buildbot_master_dir }}
Environment=HOME={{ buildbot_master_home }}
ExecStart={{ buildbot_master_sandbox }}/bin/buildbot start --nodaemon
ExecReload={{ buildbot_master_sandbox }}/bin/buildbot reconfig {{ buildbot_master_dir }}
ExecStop={{ buildbot_master_sandbox }}/bin/buildbot stop {{ buildbot_master_dir }}
LimitNOFILE=16384
Restart=on-failure

[Install]
WantedBy=multi-user.target
