{
    "repo-manager-uri": "{{ buildbot_master_repo_manager_uri }}",
    "repo-manager-dl-uri": "{{ buildbot_master_repo_manager_dl_uri }}",
    "repo-manager-token": "{{ buildbot_master_token }}",
    "buildbot-port": 8010,
    "buildbot-uri": "{{ buildbot_master_uri }}",
    "flathub-repo": "https://flathub.org/repo/",
    "flathub-beta-repo": "https://flathub.org/beta-repo/",
    "flathub-sources-path": "{{ buildbot_master_sources }}",
    "flathub-sources-uri": "{{ buildbot_master_sources_url }}",
    "flathub-branch": "stable",
    "github-api-token": "{{ github_api_token }}",
    "admin-password": "",
    "github-auth-client": "{{ github_auth_client }}",
    "github-auth-secret": "{{ github_auth_secret }}",
    "github-change-secret": "{{ github_change_secret }}",
    "gitlab-change-secret": "{{ gitlab_change_secret }}",
    "num-master-workers": 8,
    "keep-test-build-days": 5,
    "publish-default-delay-hours": 3,
    "db-uri": "{{ buildbot_master_db_uri }}"
}
