{
    "repos": {
        "stable": {
            "path": "{{ repo_manager_repodir }}",
            "collection-id": "{{ repo_manager_collection_id }}",
            "gpg-key": "{{ repo_manager_main_gpg_key }}",
            "subsets": {  }
        },
        "beta": {
            "path": "{{ repo_manager_beta_repodir }}",
            "collection-id": "{{ repo_manager_beta_collection_id }}",
            "gpg-key": "{{ repo_manager_beta_gpg_key }}",
            "subsets": { }
        }
    },
    "host": "{{ repo_manager_host }}",
    "port": {{ repo_manager_port }},
    "base-url": "{{ repo_manager_base_url }}",
    "database-url": "postgres://%2Fvar%2Frun%2Fpostgresql/{{ repo_manager_db }}",
    "build-repo-base": "{{ repo_manager_buildrepodir }}",
    "gpg-homedir": "{{ repo_manager_gpghome }}",
    "build-gpg-key": "{{ repo_manager_build_gpg_key }}",
    "secret": "{{ repo_manager_secret }}"
}
