{
    "repos": {
        "stable": {
            "path": "{{ repo_manager_repo_stable }}",
            "collection-id": "{{ repo_manager_collection_id }}",
            "base-url": "{{ repo_manager_main_base_url }}",
            "gpg-key": "{{ repo_manager_main_gpg_key }}",
            "runtime-repo-url": "{{ repo_manager_runtime_repo_url }}",
            "suggested-repo-name": "{{ repo_manager_suggested_repo_name }}",
            "post-publish-script": "/usr/local/lib/flat-manager/post-publish.sh",
            "subsets": {
            },
            "deltas": [
                { "id": ["*.Platform", "*.Sdk", "*.Platform.Compat.*" ], "depth": 3},
                { "id": ["*.Sdk.Locale", "*.Platform.Locale"], "depth": 2},
                { "id": ["*.Locale"], "depth": 0},
                { "id": ["*.Sdk.Debug", "*.Platform.Compat.Debug"], "depth": 2},
                { "id": ["*.Debug"], "arch": ["x86_64"], "depth": 2},
                { "id": ["*.Debug"], "depth": 0},
                { "id": ["*.Sources"], "depth": 0},
                { "id": ["*"], "arch": ["x86_64"], "depth": 2},
                { "id": ["*"], "depth": 1}
            ],
            "appstream-delta-depth": 5
        },
        "beta": {
            "path": "{{ repo_manager_repo_beta }}",
            "collection-id": "{{ repo_manager_beta_collection_id }}",
            "base-url": "{{ repo_manager_beta_base_url }}",
            "gpg-key": "{{ repo_manager_beta_gpg_key }}",
            "runtime-repo-url": "{{ repo_manager_runtime_repo_url }}",
            "suggested-repo-name": "{{ repo_manager_suggested_beta_repo_name }}",
            "post-publish-script": "/usr/local/lib/flat-manager/post-publish.sh",
            "subsets": {
            },
            "deltas": [
                { "id": ["*.Platform", "*.Sdk", "*.Platform.Compat.*" ], "depth": 3},
                { "id": ["*.Sdk.Locale", "*.Platform.Locale"], "depth": 2},
                { "id": ["*.Locale"], "depth": 0},
                { "id": ["*.Sdk.Debug", "*.Platform.Compat.Debug"], "depth": 2},
                { "id": ["*.Debug"], "arch": ["x86_64"], "depth": 2},
                { "id": ["*.Debug"], "depth": 0},
                { "id": ["*.Sources"], "depth": 0},
                { "id": ["*"], "arch": ["x86_64"], "depth": 2},
                { "id": ["*"], "depth": 1}
            ],
            "appstream-delta-depth": 5
        }
    },
    "host": "{{ repo_manager_host }}",
    "delay-update-secs": {{ repo_manager_update_delay }},
    "port": {{ repo_manager_port }},
    "base-url": "{{ repo_manager_base_url }}",
    "database-url": "postgres://%2Fvar%2Frun%2Fpostgresql/{{ repo_manager_db }}",
    "build-repo-base": "{{ repo_manager_repo_builds }}",
    "gpg-homedir": "{{ repo_manager_gpghome }}",
    "build-gpg-key": "{{ repo_manager_build_gpg_key }}",
    "secret": "{{ repo_manager_secret }}"
}
