[Unit]
Description=GPG agent

[Service]
User={{ repo_manager_user }}
Group={{ repo_manager_user }}
ExecStart=/usr/bin/gpg-agent --homedir /var/lib/flat-manager/.gnupg --use-standard-socket --daemon
ExecReload=/usr/bin/gpgconf --reload gpg-agent
Type=forking

[Install]
WantedBy=multi-user.target
