[Unit]
Description=GPG agent

[Service]
User={{ repo_manager_user }}
Group={{ repo_manager_user }}
ExecStart=/usr/bin/gpg-agent --daemon
Environment=GNUPGHOME={{ repo_manager_gpghome }}
Type=forking

[Install]
WantedBy=multi-user.target
