server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name {{ repo_manager_domain }};

    # certs sent to the client in SERVER HELLO are concatenated in ssl_certificate
    ssl_certificate {{ dehydrated_basedir }}/certs/{{ repo_manager_domain }}/fullchain.pem;
    ssl_certificate_key {{ dehydrated_basedir }}/certs/{{ repo_manager_domain }}/privkey.pem;

    ## verify chain of trust of OCSP response using Root CA and Intermediate certs
    ssl_trusted_certificate {{ dehydrated_basedir }}/certs/{{ repo_manager_domain }}/chain.pem;

    # load default configs
    include /etc/nginx/default.d/*.conf;
}
