server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name {{ repo_manager_domain }};

    # Accept Let's Encrypt challenges for dehydrated
    include /etc/nginx/default.d/dehydrated.conf;

    # Proxy repos
    include /etc/nginx/default.d/repo.conf;
}
