location /repo {
    alias {{ repo_manager_repo_stable }};
    add_header Cache-Control "public";
    expires 1h;

    location ~ ^/repo/summary(\.sig)?$ {
        add_header Surrogate-Control "stale-if-error=86400";
    }

    location ~ ^/repo/summary.idx(\.sig)?$ {
        add_header Surrogate-Control "stale-if-error=86400";
    }

    location /repo/refs {
        add_header Surrogate-Control "stale-if-error=86400";
        expires 1m;
    }

    location ~ ^/repo/objects/.+\.commitmeta$ {
        expires 1d;
        access_log off;
    }

    location ~ ^/repo/objects/.+\.(sig|sizes2)$ {
        return 404;
        expires max;
        access_log off;
    }

    location ~ ^/repo/objects/.+\.(commit|dirtree|filez)$ {
        expires max;
        access_log off;
    }

    location ~ ^/repo/deltas/(.*)$ {
        try_files /repo/deltas/$1 /repo/tmp/deltas/$1 =404;
        expires max;
        access_log off;
    }

    location /repo/config {
        access_log off;
    }

    location /repo/screenshots {
        expires max;
        access_log off;
    }

    location /repo/appstream {
        expires 7d;
        access_log off;
    }

    location /repo/delta-indexes {
         expires max;
         access_log off;
    }
}

location /beta-repo {
    alias {{ repo_manager_repo_beta }};
    add_header Cache-Control "public";
    expires 1h;

    location ~ ^/beta-repo/summary(\.sig)?$ {
        add_header Surrogate-Control "stale-if-error=86400";
    }

    location ~ ^/beta-repo/summary.idx(\.sig)?$ {
        add_header Surrogate-Control "stale-if-error=86400";
    }

    location /beta-repo/refs {
        add_header Surrogate-Control "stale-if-error=86400";
        expires 1m;
    }

    location ~ ^/beta-repo/objects/.+\.commitmeta$ {
        expires 1d;
        access_log off;
    }

    location ~ ^/beta-repo/objects/.+\.(sig|sizes2)$ {
        return 404;
        expires max;
        access_log off;
    }

    location ~ ^/beta-repo/objects/.+\.(commit|dirtree|filez)$ {
        expires max;
        access_log off;
    }

    location ~ ^/beta-repo/deltas/(.*)$ {
        try_files /beta-repo/deltas/$1 /beta-repo/tmp/deltas/$1 =404;
        expires max;
        access_log off;
    }

    location /beta-repo/screenshots {
        expires max;
        access_log off;
    }

    location /beta-repo/appstream {
        expires 7d;
        access_log off;
    }

    location /beta-repo/delta-indexes {
         expires max;
         access_log off;
    }
}

location /build-repo {
    alias {{ repo_manager_repo_builds }};
    add_header Cache-Control "public";
    expires 1h;

    location ~ ^/build-repo/(\d+)/summary(\.sig)?$ {
        add_header Surrogate-Control "stale-if-error=86400";
    }

    location /build-repo/(\d+)/refs {
        add_header Surrogate-Control "stale-if-error=86400";
        expires 1m;
    }

    location ~ ^/build-repo/(\d+)/objects/.+\.commitmeta$ {
        expires 1d;
        access_log off;
    }

    location ~ ^/build-repo/(\d+)/objects/.+\.(sig|sizes2)$ {
        return 404;
        expires max;
        access_log off;
    }

    location ~ ^/build-repo/(\d+)/objects/((.+)\.(commit|dirtree|filez)$) {
        alias {{ repo_manager_repodir }};
        try_files /builds/$1/objects/$2 /beta/objects/$2 /stable/objects/$2 =404;
        expires 7d;
        access_log off;
    }

    location ~ ^/build-repo/(\d+)/deltas/(.*)$ {
        try_files /build-repo/deltas/$1 /build-repo/tmp/deltas/$1 =404;
        expires 7d;
    }
}

location / {
    deny all;
}
