location /repo {
    alias {{ repo_manager_repo_stable }};
    add_header Cache-Control "public";
    expires 1h;

    location ~ ^/repo/summary(\.sig)?$ {
        add_header Surrogate-Control "stale-if-error=86400";
    }

    location /repo/refs {
        add_header Surrogate-Control "stale-if-error=86400";
        expires 1m;
    }

    location ~ ^/repo/objects/.+\.commitmeta$ {
        expires 1d;
        access_log off;
    }

    location ~ ^/repo/objects/.+\.(sig|sizes2)$ {
        return 404;
        expires 1y;
        access_log off;
    }

    location ~ ^/repo/objects/.+\.(commit|dirtree|filez)$ {
        expires 1y;
        access_log off;
    }

    location ~ ^/repo/deltas/(.*)$ {
        try_files /repo/deltas/$1 /repo/tmp/deltas/$1 =404;
        expires 1y;
        access_log off;
    }

    location /repo/sources {
        autoindex on;
    }

    location /repo/sources/downloads {
        expires 1y;
        access_log off;
        autoindex on;
    }

    location /repo/appstream {
        autoindex on;
    }

    location /repo/config {
        access_log off;
    }
}

location /beta-repo {
    alias {{ repo_manager_repo_beta }};
    add_header Cache-Control "public";
    expires 1h;

    location ~ ^/beta-repo/summary(\.sig)?$ {
        add_header Surrogate-Control "stale-if-error=86400";
    }

    location /beta-repo/refs {
        add_header Surrogate-Control "stale-if-error=86400";
        expires 1m;
    }

    location ~ ^/beta-repo/objects/.+\.commitmeta$ {
        expires 1d;
        access_log off;
    }

    location ~ ^/beta-repo/objects/.+\.(sig|sizes2)$ {
        return 404;
        expires 1y;
        access_log off;
    }

    location ~ ^/beta-repo/objects/.+\.(commit|dirtree|filez)$ {
        expires 1y;
        access_log off;
    }

    location ~ ^/beta-repo/deltas/(.*)$ {
        try_files /beta-repo/deltas/$1 /beta-repo/tmp/deltas/$1 =404;
        expires 1y;
        access_log off;
    }

    location /beta-repo/sources {
        autoindex on;
    }

    location /beta-repo/sources/downloads {
        expires 1y;
        access_log off;
        autoindex on;
    }

    location /beta-repo/appstream {
        autoindex on;
    }
}

location /build-repo {
    alias {{ repo_manager_repo_builds }};
    add_header Cache-Control "public";
    expires 1h;

    location ~ ^/build-repo/(\d+)/summary(\.sig)?$ {
        add_header Surrogate-Control "stale-if-error=86400";
    }

    location /build-repo/(\d+)/refs {
        add_header Surrogate-Control "stale-if-error=86400";
        expires 1m;
    }

    location ~ ^/build-repo/(\d+)/objects/.+\.commitmeta$ {
        expires 1d;
        access_log off;
    }

    location ~ ^/build-repo/(\d+)/objects/.+\.(sig|sizes2)$ {
        return 404;
        expires 1y;
        access_log off;
    }

    location ~ ^/build-repo/(\d+)/objects/((.+)\.(commit|dirtree|filez)$) {
        alias {{ repo_manager_repodir }};
        try_files /builds/$1/objects/$2 /beta/objects/$2 /stable/objects/$2 =404;
        expires 1y;
        access_log off;
    }

    location ~ ^/build-repo/(\d+)/deltas/(.*)$ {
        try_files /build-repo/deltas/$1 /build-repo/tmp/deltas/$1 =404;
        expires 1y;
    }
}

location /api {
    proxy_pass http://127.0.0.1:8080;

    # Allow uploading large builds, deltas, etc
    client_max_body_size 0;

    # Requests are large for uploads, so directly forward them
    proxy_request_buffering off;

    # Not sure if we need this, but bumping from the default 60s might
    # fix some of the timeouts we've seen
    proxy_send_timeout 180;
    proxy_read_timeout 6000;
    client_body_timeout 600;

    # It seems like this fixes the upload sendfile issue
    proxy_http_version 1.1;
    sendfile off;

    add_header Vary Accept-Encoding;

    location /api/v1/delta/worker {
        proxy_pass http://127.0.0.1:8080;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}

location /status {
    proxy_pass http://127.0.0.1:8080;
    add_header Vary Accept-Encoding;
}

location / {
    deny all;
}
