#!/bin/bash
REPONAME="$1"
REPODIR="$2"

set -e

# Work around issue with flat-manager getting the permissions wrong (not group readable + directories executable)
find {{ repo_manager_repodir }}/$REPONAME/screenshots ! -perm -og+rX -exec chmod go+rX {} \;
find {{ repo_manager_repodir }}/$REPONAME/deltas  ! -perm -og+rX -exec chmod go+rX {} \;

# purge intermediate front-* caches and then CDN
# (Fastly-Soft-Purge is a no-op on front-*)
if [ $REPONAME == "stable" ]; then
    REPO=repo
elif [ $REPONAME == "beta" ]; then
    REPO=beta-repo
else
    exit
fi

for host in dl.flathub.org {{ groups.frontend | join(' ') }}; do
    curl -X PURGE https://${host}/$REPO/summary{,.sig} || true
done

curl -X PURGE -H "Fastly-Soft-Purge: 1" https://dl.flathub.org/$REPO/summary{,.sig} || true
