[Unit]
Description=repo-manager
After=postgresql.service

[Service]
User={{ repo_manager_user }}
Group={{ repo_manager_user }}
WorkingDirectory={{ repo_manager_home }}
ExecStart={{ repo_manager_home }}/bin/flat-manager

Environment=REPO_CONFIG={{ repo_manager_home }}/flat-manager-config.json

[Install]
WantedBy=multi-user.target
