ROOT_PATH=/api/v2
HOME=/root
OSTREE_REPO=/root/.local/share/flatpak/repo
REDIS_HOST=10.8.1.1
REDIS_PORT=6380
SENTRY_DSN={{ website_backend_v2_sentry_dsn }}
DATABASE_URL={{ website_backend_v2_database_url }}
CORS_ORIGINS=http://localhost:3000 https://flathub.org https://beta.flathub.org
SESSION_SECRET_KEY={{ website_backend_v2_session_secret_key }}
ENABLE_LOGIN_SUPPORT=true
GITHUB_CLIENT_ID={{ website_backend_v2_github_client_id }}
GITHUB_CLIENT_SECRET={{ website_backend_v2_github_client_secret }}
GITHUB_RETURN_URL=https://beta.flathub.org/login/github
GITLAB_CLIENT_ID={{ website_backend_v2_gitlab_client_id }}
GITLAB_CLIENT_SECRET={{ website_backend_v2_gitlab_client_secret }}
GITLAB_RETURN_URL=https://beta.flathub.org/login/gitlab
GOOGLE_CLIENT_ID={{ website_backend_v2_google_client_id }}
GOOGLE_CLIENT_SECRET={{ website_backend_v2_google_client_secret }}
GOOGLE_RETURN_URL=https://beta.flathub.org/login/google
