[Unit]
Description=Renew Let's Encrypt certificates daily

[Timer]
OnCalendar=daily
RandomizedDelaySec=24h
Persistent=true

[Install]
WantedBy=timers.target
