#!/bin/bash
if systemctl -q is-active nginx.service; then
    systemctl reload nginx.service
fi

{% if certbot_certsync_enabled %}
# Sync certificates to remote hosts
local SYNC_DOMAINS SYNC_HOSTS sync_domain sync_host
SYNC_DOMAINS="{{ certbot_sync_domains | join(' ') }}"
SYNC_HOSTS="{{ certbot_sync_hosts | join(' ') }}"
for sync_domain in ${SYNC_DOMAINS}; do
    [ "$(hostname)" = "${sync_domain}" ] || continue
    for sync_host in ${SYNC_HOSTS}; do
        echo "Syncing ${DOMAIN} to ${sync_host}..."
        rsync -aL "/etc/letsencrypt/live/${DOMAIN}" "certsync@${sync_host}:/var/lib/certsync/certs"
        ssh "certsync@${sync_host}" sudo systemctl reload nginx
    done
done
{% endif %}
