SERVER=backup-mer-b
CUSTOMER=flathub
DISABLED={{ base_mythic_backup_disabled | ternary('yes', 'no') }}
SUBDIR={{ inventory_hostname_short }}
MYSQL=no
POSTGRES={{ base_mythic_backup_postgres | ternary('yes', 'no') }}
{% if base_mythic_backup_excludes is defined %}
EXCLUDES={{ base_mythic_backup_excludes | join(' ') }}
{% endif %}
