[Unit]
Description=Linux-store backend
After=network.target

[Service]
Type=simple
TimeoutStartSec=5m
ExecStartPre=-/usr/bin/podman rm linux-store-backend
ExecStart=/usr/bin/podman run --name linux-store-backend -v /etc/passwd:/etc/passwd:ro --user {{ getent_passwd[linux_store_backend_user][1] }} --network host -v {{ linux_store_backend_home }}:{{ linux_store_backend_home }} -v {{ linux_store_backend_apptream_extractor_dir }}:{{ linux_store_backend_apptream_extractor_dir }} -e "JAVA_OPTS= -Dspring.config.location={{ linux_store_backend_home }}/linux-store-backend.yml" {{ linux_store_backend_image }}

ExecReload=-/usr/bin/podman stop linux-store-backend
ExecReload=-/usr/bin/podman rm linux-store-backend

ExecStop=-/usr/bin/podman stop linux-store-backend

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
