global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - 127.0.0.1:9093

rule_files:
  - rules/*.rules

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets:
      - 127.0.0.1:9090

  - job_name: 'node'
    static_configs:
    - targets:
{% for host in groups['all'] %}
{% if hostvars[host].ansible_ztnfaipej6 is defined %}
      - {{ hostvars[host].ansible_ztnfaipej6['ipv4']['address'] }}:9100
{% endif %}
{% if hostvars[host].ansible_zt0 is defined %}
      - {{ hostvars[host].ansible_zt0['ipv4']['address'] }}:9100
{% endif %}
{% endfor %}

    relabel_configs:
{% for host in groups['all'] %}
{% if hostvars[host].ansible_ztnfaipej6 is defined %}
      - source_labels: [ __address__ ]
        target_label: instance
        regex: {{ hostvars[host].ansible_ztnfaipej6['ipv4']['address'] }}:9100
        replacement: {{ host }}
{% endif %}
{% if hostvars[host].ansible_zt0 is defined %}
      - source_labels: [ __address__ ]
        target_label: instance
        regex: {{ hostvars[host].ansible_zt0['ipv4']['address'] }}:9100
        replacement: {{ host }}
{% endif %}
{% endfor %}

