proxy_cache_path {{ frontend_nginx_cache_dir }} levels=1:2 keys_zone=frontend_cache:100m max_size={{ frontend_nginx_cache_size }}
                 inactive=30d use_temp_path=off;
proxy_cache_use_stale error timeout updating http_500 http_502 http_503 http_504;
proxy_cache_revalidate on;
