server {
    listen 80;
    listen [::]:80;

    server_name dl.{{ frontend_nginx_webroot_domain }};

    # Load configuration files for the default server block.
    include /etc/nginx/default.d/repo.conf;

    location /.well-known/acme-challenge {
      proxy_pass http://{{ frontend_nginx_webroot_origin }}/.well-known/acme-challenge;
    }
    
    # Everything else to https://{{ frontend_nginx_webroot_domain }} for the time being
    location / {
      return 302 https://{{ frontend_nginx_webroot_domain }}$request_uri;
    }
}
