location /api {
    proxy_cache frontend_cache;
    proxy_cache_valid 200 302 10m;
    proxy_cache_valid 301      1h;
    proxy_cache_valid any      1m;
    proxy_pass http://api;
    proxy_set_header Host $host;
}

location /api/health {
    proxy_pass http://api/health;
    proxy_set_header Host $host;
}
