location /repo {
    gzip off;
    proxy_cache frontend_cache;
    proxy_pass {{ frontend_nginx_repo_origin }};
}

location /repo/summary {
    gzip on;
    gzip_types application/octet-stream;
    proxy_pass {{ frontend_nginx_repo_origin }}/summary;
}
