server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name dl.{{ frontend_nginx_webroot_domain }};

    # Load configuration files for the default server block.
    include /etc/nginx/default.d/repo.conf;
    include /etc/nginx/default.d/ssl.conf;

    # Everything else to https://{{ frontend_nginx_webroot_domain }} for the time being
    location / {
      return 302 https://{{ frontend_nginx_webroot_domain }}$request_uri;
    }

    # certs sent to the client in SERVER HELLO are concatenated in ssl_certificate
    ssl_certificate /var/lib/certsync/certs/dl.{{ frontend_nginx_webroot_domain }}/fullchain.pem;
    ssl_certificate_key /var/lib/certsync/certs/dl.{{ frontend_nginx_webroot_domain }}/privkey.pem;

    ## verify chain of trust of OCSP response using Root CA and Intermediate certs
    ssl_trusted_certificate /var/lib/certsync/certs/dl.{{ frontend_nginx_webroot_domain }}/chain.pem;
}
