location / {
    try_files $uri @prerender;
}

location @prerender {

    proxy_cache frontend_cache;
    proxy_cache_valid 200 302 10m;
    proxy_cache_valid 301      1h;
    proxy_cache_valid any      1m;

    proxy_cache_background_update on;
    proxy_cache_lock on;
    proxy_intercept_errors on;

    proxy_set_header Host $host;
    proxy_hide_header Strict-Transport-Security;
    proxy_hide_header Vary;

    if ($prerender = 1) {    
        rewrite .* /$scheme://$host$request_uri? break;
        proxy_pass http://prerender;
    }
    if ($prerender = 0) {
        proxy_pass {{ frontend_nginx_webroot_origin }};
    }

}
