server {
    listen       80;
    listen       [::]:80;
    server_name  {{ frontend_nginx_webroot_domain }} www.{{ frontend_nginx_webroot_domain }};

    location /.well-known/acme-challenge {
      proxy_pass http://{{ frontend_nginx_webroot_origin }}/.well-known/acme-challenge;
      proxy_hide_header Vary;
    }

    location / {
      return 301 https://$host$request_uri;
    }
}
